<div id="squares">
	<div class="square">
	{{ content.top-left }}
	</div>
	<div class="square">
	{{ content.top-right }}
	</div>
	<div class="square">
	{{ content.bottom-left }}
	</div>
	<div class="square">
	{{ content.bottom-right }}
	</div>
</div>