.color-block-blue .region-sidebar-first{
    background-color: blue;
}
.color-block-vert .region-sidebar-first{
    background-color: green;
}
.color-block-orange .region-sidebar-first{
    background-color: orange;
}
